/*Estilo para telas*/

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(85, 84, 84);
    color: white;
    padding: 25px;
}

nav ul {
    display: flex;
    gap: 60px;
    font-size: 1.2em;
    font-weight: 400;
}

nav li {
    list-style: none;
    cursor: pointer;
}

main {
    font-size: 1.3em;
    margin: auto;
    padding: 10px;
    width: 550px;
    line-height: 20px;
}

article h2 {
    display: flex;
    justify-content: center;
}

p {
    margin-top: 7px;
    font-size: 19px;
}
